
body{
    background-color :#917FB3;
}
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color :#917FB3;
}

header {
    background-color: #654E92;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
}

h1 {
    font-size: 36px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.collection-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.collection-items {
    display: flex;
    justify-content: center;
}

.collection-item {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    width: calc(33.33% - 20px);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.collection-item:hover {
    transform: scale(1.05);
}

.collection-item img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.collection-item p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.collection h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.collection .collection-item {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.33% - 20px);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.collection .collection-item:hover {
    transform: scale(1.05);
}

.collection .collection-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.collection .collection-item p {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.hidden {
    display: none;
}
#collection-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
    text-align: center;
} */

#collection-heading {
    text-align: center;
    width: 100%; 
    margin-top: 20px; 
}

 
