body {
        display: flex;
        justify-content:center;
    flex-direction:column;
        align-items: center;
        height:70vh;
        text-align: center;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.a{
    margin-bottom :20px;
    background-color:#EBDEF0;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 10px;
}

.b{
    margin-bottom :20px;
    background-color:#EBDEF0;
    width: 348px;
    padding:10px;
    border : 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
}