<!DOCTYPE html>
<html>
<head>
<title>Add your Profile</title>
<link rel="stylesheet" type="text/css" href="../static/add_profile.css">

<link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
<link rel="manifest" href="../assets/site.webmanifest">

</head>
<body background = "C:\Users\sharv\Downloads\download.jpeg">
<h1>Welcome to Artphoria!</h1>
<div id="profile-form">
<h2>Update Profile</h2>
<form id="profile-details">
<label for="profile-name">Profile Name:</label>
<input type="text" id="profile-name" name="profile-name" required>

<label for="profile-picture">Profile Picture:</label>
<input type="file" id="profile-picture" name="profile-picture" accept="image/*" required>

<input type="submit" value="Update">
</form>
</div>

<script src="../static/add_profile.js"></script>
</body>
</html>