<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="../static/buy.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
<link rel="manifest" href="../assets/site.webmanifest">

</head>
<body>
    <header>
        <h1>Buy Now</h1>
    </header>
    <div class="container">
        <div class="product-box">
            <div class="product-details">
                <img src="../assets/buy.png" alt="Product Image">
                <h3>Dog</h3>
                <p class="product-description">Those who teach the most about humanity aren't always human!🤍</p>
                <p class="product-price">5000Rs</p>
                <div class="quantity-selector">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" onchange="updateTotal()">
                    <p class="total-amount">Total Amount: 5000Rs</p>
                </div>
                <div class="buy-now">
                    <button class="buy-now-button">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="star-rating">
            <div class="stars">
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
                <span class="star">&#9733;</span>
            </div>
            <div class="selected-stars"></div>
        </div>
        <div class="comment-section">
            <h3 class="add-comment-heading">Add a Comment</h3>
            <textarea class="comment-input" placeholder="Write your comment here..."></textarea>
            <button class="add-comment-button" onclick="addComment()">Add Comment</button>
        </div>
        <div class="customer-reviews-box">
            <h2 class="customer-reviews-heading">Customer Reviews</h2>
            <!-- Customer reviews here -->
        </div>
    </div>
    <script src="../static/buy.js"></script>
</body>
</html>
