<html>
<head>
<meta charset="UTF-8">
<link rel = "stylesheet" href = "index.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<body background = "C:\Users\sharv\Downloads\download.jpeg">
<div class="img">
<img src="C:\Users\sharv\OneDrive\Documents\logo.jpg" alt="image" width= 50px>
<p>&nbsp;Artphoria</p>
</div>
<div>
<button class="login-button">Log In</button>
</div>
<div>
<button class="signin-button">Sign Up</button>
</div>
<div class="content">
</div>
<div class="slideshow-container">
        <div class="slide fade">
            <img src="C:\Users\sharv\OneDrive\Documents\art images\1.png" alt= "Image 1">
        </div>
        <div class="slide fade">
            <img src="C:\Users\sharv\OneDrive\Documents\art images\2.png" alt="Image 2">
        </div>
        <div class="slide fade">
            <img src="C:\Users\sharv\OneDrive\Documents\art images\3.png"alt="Image 3">
        </div>
    </div>

<script src="index.js"></script>

</body>
</html>