<!DOCTYPE html>
<html lang="en">
<style>
html{
background-color: #E6D1F2;
}
</style>
<head>
    <title>Artphoria: Where creativity takes flight</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar with Toggle</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat+Alternates:wght@500&family=Poppins:wght@800&family=Roboto+Condensed&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body Bgcolor = #E6D1F2>
    <div class="top-icons">
        <a href="#"><i class="fa fa-pencil-alt"></i></a> 
        <a href="#"><i class="fa fa-comment"></i></a>
        <a href="#"><i class="fa fa-shopping-cart"></i></a> 
        
    </div>
    <div class="intro">
	<h1>Artphoria</h1><br>
        <h1>Where creativity takes flight.</h1>
    </div>
    <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    <nav class="vertical-nav">
        <ul class="menu">
            <li><a href="#"></a></li>;
<br>
            <li><a href="sell page.html">Sell&nbsp&nbsp</a></li>
            <li><a href="buy.html">Buy&nbsp&nbsp</a></li>
            <li><a href="tutorial.html">Learn&nbsp&nbsp</a></li>
            <li><a href="contest.html">Contest&nbsp&nbsp</a></li>
            <li><a href="#">Customize&nbsp&nbsp</a></li>
            <li><a href="#">Exhibitions&nbsp&nbsp</a></li>
        </ul>
    </nav>
    <section class="news">
        <article class="news-article">
            <div class="article-header">
                <div class="logo">
                    <img src="C:\Users\sharv\OneDrive\Documents\logo.jpg" alt="Artphoria Logo">
                </div>
                <div class="sender-info">
                    <p class="sender">Artphoria Team</p>
                    <p class="article-date" id="article-date"></p>
                </div>
            </div>
            <div class="article-content">
                <h3>Three-Dimensional Artworks</h3>
                <img src="C:\Users\sharv\OneDrive\Pictures\Screenshots\Screenshot 2023-09-03 000755.png" alt="Article Image">
                <p class="additional-paragraph">
                    Dating back from ancient Greece, this technique has mutated and has now found its way into the street art.
French artist Scaf creates large-scale 3D illusions and urban interventions using spray cans.

From realistic dinosaurs, snakes and alligators to famous film and cartoon characters, Scaf’`s creations seem to emerge from flat surfaces to take over the real world.His work is enhanced by the interactive photographs the artist takes of each piece afterwards.

In order to highlight his graffiti, Scaf often dresses up accordingly and inserts props to the scene, taking the optical illusion to a whole new level.
                </p>
                <a href="#" class="read-more-link" id="readMoreBtn">Read More</a> 
            </div>
        </article>

        <article class="news-article">
            <div class="article-header">
                <div class="logo">
                    <img src="C:\Users\sharv\OneDrive\Documents\logo.jpg" alt="Artphoria Logo">
                </div>
                <div class="sender-info">
                    <p class="sender">Artphoria Team</p>
                    <p class="article-date" id="article-date"></p>
                </div>
            </div>
            <div class="article-content">
                <h3>Three-Dimensional Artworks</h3>
                <img src="C:\Users\sharv\OneDrive\Pictures\Screenshots\Screenshot 2023-09-03 000755.png" alt="Article Image">
                <p class="additional-paragraph">
                    Dating back from ancient Greece, this technique has mutated and has now found its way into the street art.
French artist Scaf creates large-scale 3D illusions and urban interventions using spray cans.

From realistic dinosaurs, snakes and alligators to famous film and cartoon characters, Scaf’`s creations seem to emerge from flat surfaces to take over the real world.His work is enhanced by the interactive photographs the artist takes of each piece afterwards.

In order to highlight his graffiti, Scaf often dresses up accordingly and inserts props to the scene, taking the optical illusion to a whole new level.
                </p>
                <a href="#" class="read-more-link" id="readMoreBtn">Read More</a> 
            </div>
        </article>
    </section>
    <div class="profile-toggle" id="profile-toggle"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg></div>
    <nav class="profile-nav">
        <ul class="profile-menu">
            <br>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="#">Your Collections</a></li>
            <li><a href="index.html">Logout</a></li>
        </ul>
    </nav>

    <script src="../static/main.js"></script>
</body>
</html>

