<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel = "stylesheet" href = "../static/register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
<link rel="manifest" href="../assets/site.webmanifest">

</head>
<body background = "C:\Users\sharv\Downloads\download.jpeg">
    <div class="a">
        <img width = "220" src="C:\Users\sharv\OneDrive\Documents\art images\logoname.jpg" ><br>
        <div class="gap1"></div>
        <form>
            <input type="text" id="Phone" name="" placeholder = "Phone number,username or email"><br>
            <div class="gap1"></div>
            <input type="password" id="Pwd" name="password" placeholder = "Password" ><br>
            <div class="gap1"></div>
            <input type ="password" id ="ConfirmPwd" name="Cpassword" placeholder="Confirm Password">
            <div class = "gap2"></div>
            <input type="submit" value="Register"><br>
            <br>
        </form>                     
        <div class="divider">
            <span>OR</span>
        </div>
    </div> 
    <div class="b">
        Already have an account? <a style="font-weight:600; color:rgb(0,149,246)" href="login.html" class = "no-underline" >Login</a>
    </div>
</body>
</html>